config/zsh/*

# some configs
!config/zsh/welcome.zsh
!config/zsh/gpg_tty.zsh
!config/zsh/colors.zsh
!config/zsh/zsh_autosuggest.zsh
!config/zsh/zsh_syntaxhighlight.zsh

# zsh plugins
!config/zsh/plugins/zsh-autosuggestions
!config/zsh/plugins/zsh-syntax-highlighting

# example file by oh-my-zsh
!config/zsh/plugins/example
!config/zsh/themes/example.zsh-theme
!config/zsh/example.zsh

config/fish/*
!config/fish/envs/*
!config/fish/conf.d/*
